<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear/>
		<add name="MyLibrary"
			 providerName="System.Data.SqlClient"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Library;Integrated Security=SSPI;" />

		<!-- Строка для MS Access. Если у вас нет MS Access — см. шаг 3. -->
		<add name="MyAccess"
			 providerName="System.Data.OleDb"
			 connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=Library.accdb;Persist Security Info=False;" />
	</connectionStrings>
</configuration>
