<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="StudentGrades1"
			 providerName="System.Data.SqlClient"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=StudentGrades;Integrated Security=True;" />

		<add name="StudentGrades2"
			 providerName="System.Data.SqlClient"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=StudentGrades2;Integrated Security=True;" />
	</connectionStrings>
</configuration>
